{% extends "inicio/clasePadre.html" %}
<!--Titulo-->
{%block titulo%}Formulario {%endblock%}
<!--Nombre de la pagina-->

{%block nombre%}Formulario{%endblock%}
<!--Subtitulo o descripcion-->

{%block descripcion%}<span>CM</span>{%endblock%}


{% block imagen%}
	{%load static%}
	{%static 'inicio/images/registrar.png'%}
{% endblock%}

<!--El texto del padre, fuera del contenido para separar la barra de navegaion -->
{%block padre%}
 <!--Encabezdo -->
<div class="page-header">
   <div class="page-title">
       <h3>Registro
       <small>Ingresa tu informacion</small></h3>
   </div>
</div>
{% endblock%}

{%block contenido%}




    <!-- Formulario -->
    <form class="form-horizontal" action="#" role="form">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Matricula:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
               

                    <label p>Carrrera:</label>
                    <select name="carrera">
                        <option>ING. DGS</option>
                        <option>ING. EVND</option>
                    </select>       
                </p>

                <label>Turno:</label>
                <input type="radio" name="turno" value="matricula">Matutino
                <input type="radio" name="turno" value="vespertino">Vespertino

                
                
                <div class="form-actions text-right">
                    <input type="submit" value="Enviar" class="btn btn-primary">
                </div>

            </div>
        </div>
    </form>
 {%endblock%}