{% extends "inicio/clasePadre.html" %}
<!--Titulo-->
{%block titulo%}Principal {%endblock%}
<!--Nombre de la pagina-->
{%block nombre%}Principal{%endblock%}
<!--Subtitulo o descripcion-->
{%block descripcion%}<span>DSM</span>{%endblock%}

{% block imagen%}
	{%load static%}
	{%static 'inicio/images/home.png'%}
{% endblock%}

<!--El texto del padre, fuera del contenido para separar la barra de navegaion -->
{%block padre%}		
<!--Encabezdo -->
<div class="page-header">
	<div class="page-title">
		<h3>Alumnos
		<small>Lista de Alumnos </small></h3>
	</div>

	
</div>
<!-- /padre-->
{% endblock%}

{%block contenido%}

{%endblock%}